
@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #979797;
    background: #101010;
    font-size: 16px;
    font-family: 'Mukta', sans-serif;
}

h1, h2, button {
    font-family: 'Poppins', sans-serif;
}


#top{
    background-color: #101010;
    background-image: url(../img/Asset%201-100.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    color: #ffffff;
}


a {
    text-decoration: none;
    color: #ffffff;
}

header a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

header li, #copy-links li {
    display: inline;
    float: right;
    padding: 1%;
}

.center-box{
    width: 70%;
    margin: 0 auto;
}

#logo {
}

nav {
    color: #ffffff;
}

#slider{
}


#slider-text {
}


#button {
    background-color: #76c38f;
    border: 1px solid #76c38f;
    border-radius: 15px;
    padding: 1%;
}

#slider-img {
}

#content {
    background-color: #373737;
}

#content img {
    display: inline;
    width: 500px;
    border: 10px solid #ffffff;
}

#gallery {
}

#main-content {
}

footer{
background-color: #101010;
}

#footer-blog {
}

#footer-insta {
}

#footer-links {
}

#copyright {
background-color: #060606;
}

#copy-text {
}

#copy-links {
}



@media (min-width: px) {
 {
    
    }
}
